Django==3.2.12
Gunicorn==20.1.0
streamlit==1.1.0
google-generativeai==1.0.0
langchain==0.1.0
langchain_google-genai==0.2.0
langchain_community==0.1.0
python-dotenv==0.19.1
PyPDF2==1.26.0
faiss-cpu==1.7.0
